servers:
  - host: "127.0.0.1"
    server_name: "server loacl"
    ports: ["8080", "8081"]
    routes:
      - path: "/"
        methods: ["GET", "POST"]
        root: "/var/www/html"
        index: "index.html"
        autoindex: true