  # Virtual Server 1: Main Local Website
  server:
    - host: 127.0.0.2
      ports: [8080]
      routes:
        - path: "/"
          autoindex: true
        - path: "/cgi-bin"
          cgi_ext: ".py"
      error_pages:
        - 404: "/errors/404.html"
      

    # - host: 127.0.0.2
    #   server_name: "new_server"
      