servers:
  - host: "127.0.0.1"
    ports: [8080]
    server_name: "localhost"
    default_server: true
    client_max_body_size: 500000000000 # 1MB //5000000000
    routes:
      - path: "/"
        methods: ["GET","POST","DELETE"]
        cgi_ext: ".py"
        root: "www/cgis"
      - path: "/list"
        methods: ["GET", "POST"]
        root: "./www"
        default_file: ""
        autoindex: true
      - path: "/api"
        methods: ["GET", "POST", "DELETE"]
        root: "./www/api"
        default_file: "api.html"
        autoindex: true
        cgi_ext: ".cgi"
      - path: "/goog"
        redirection: "https://google.com"
        redirect_code: 302
      - path: "/upload"
        methods: ["POST", "GET", "DELETE"]
        root: "./www"
        default_file: ""
        autoindex: false
        upload_dir: uploads

  - host: "127.0.0.2"
    ports: [8082]
    server_name: "webserver.local"
    default_server: false
    client_max_body_size: 524288 # 512KB
    routes:
      - path: "./static"
        methods: ["GET"]
        root: "./www"
        default_file: "index.html"
        autoindex: true
  - host: "127.0.0.3"
    ports: [4444, 2222]
    server_name: "proxy.local"
    default_server: false
    routes:
      - methods: ["GET", "POST"]
        root: "./www"
        default_file: ""
        autoindex: true
