servers: 
  - host: "127.0.0.1"
    server_name: "myproxy.local"
    ports: [8080, 3000, 4000]
    default_server: true
    client_max_body_size: 1024 # in bytes
    routes:
      - path: "/"

#         methods: ["GET", "POST"]
#         root: "./www/html"
#         default_file: "index.html"
#         autoindex: false
#       - path: "/api"
#         methods: ["GET", "POST", "PUT", "DELETE"]
#         root: "./api"
#         default_file: "api.html"
#         autoindex: true
#         redirection: "https://api.example.com"
#         cgi_ext: ".cgi"
#       - path: "/upload"
#         methods: ["POST", "GET"]
#         root: "./uploads"
#         autoindex: false

#   - ports: [5554]
#     # server_name: "webserver.local"
#     error_pages:
#       403: "/forbidden.html"
#       405: "/forbidden.html"
#     routes:
#       - path: "/static"
#         methods: ["GET"]
#         root: "./static"
#         default_file: "index.html"
#         autoindex: true
#   - server_name: "example.com"
